[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
python-dotenv = "*"
pyyaml = "*"
pydantic = "*"
openai = "*"
jsonschema = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
ruff = "*"
mypy = "*"
types-pyyaml = "*"
types-jsonschema = "*"
black = "*"
pyinstaller = "*"

[requires]
python_full_version = "3.10.5"